<h1 class="alignment">All Services</h1>

<table id='order-table' class="table table-striped">
  <td class="table-header"> Image </td>
  <td class="table-header"> Service </td>
  <td class="table-header"> Description </td>
  <td class="table-header"> Order Status </td>
  <td class="table-header"> Actions </td>

  <%= render @items %>
</table>
