<li>
  <p>Item: <%= link_to order_item.item.title, item_path(order_item.item) %></p>
  <p>Unit Cost: <%= order_item.unit_cost %></p>
  <p>Quantity: <%= order_item.quantity %></p>
  <p>Subtotal: <%= order_item.subtotal %></p>
</li>
