<h2>Your Orders</h2>

<% if @orders.empty? %>
  <p>You haven't made any orders.</p>
<% else %>
  <ul><%  @orders.each do |order| %>
    <li><%= link_to "Order ##{order.id}", order_path(order) %></li>
  <% end %>
  </ul>
<% end %>
