<h2> Your Cart </h2>

<% @items.each do |item, quantity| %>
  Item: <%= item.title %>
  <%= item.description %>
  <%= item.price %>
  <%= image_tag(item.image_url, size: "100x100", alt: item.title) %>
<% end %>
