<li class="list-group-item">
  <%= image_tag(item.image_url, size: "100", alt: item.title, class: "card-img-top") %>
  <br />
  <h2> <%= link_to "#{item.title}", item_path(item) %> </h2>
  <%= render 'add_to_cart_button', item: item %>
</li>
