body {
  background-color: WhiteSmoke;
}

main {
  text-align: center;
  ul {
    list-style-type: none;
  }
}

.admin-drop {
  width: 100%;
}

.breakdown-box {
  display: flex;
  justify-content: center;
}

.order-breakdown {
  width: 30%;
  border: double medium Grey;
  padding-bottom: 15px;
}

.alignment {
  transform: translate(70px, 0px);
}

.align {
  transform: translate(25px, 0px);
}
