<% if item.active %>
  <%= button_to "Add to Cart", cart_path(item_id: item.id), class: 'btn btn-primary add-to-cart' %>
<% else %>
  <div class="btn btn-primary" disabled><em>Item Retired</em></div>
<% end %>
