<div class="alert alert-dismissible alert-<%= type %> show" role="alert">
  <p><%= message.html_safe %></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
